@font-face {
    font-family: 'MiFuente';
    src: url('tipografias/Montserrat-VariableFont_wght.ttf') format('truetype');
  }


html {
  scroll-behavior: smooth;
}

h2 {
    color: #B32618;
    font-size: 45px;
}

p {
    font-size: 35px;
}

body {
    font-family: 'MiFuente', sans-serif;
    margin: 0;
    padding: 0;
}
header {
  background-color: #B32618;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo{
  width: 100%;
  max-width: 370px;
  height: 48px;
}

.salto-mobile {
  display: none;
}

/* SECCION 1 */
 
.seccion1{
  background-color: #bfdcdf;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.portadaDesktop {
  display: block;
}
.portadaMobile {
  display: none;
}
.lado-izquierdo {
  width: 60%;
}
.lado-derecho {
  width: 40%;
}

.lado-derecho p {
  padding: 25px 0px 25px 0px;
}

.lado-izquierdo img {
    max-width: 100%;
}

button {
    padding: 15px;
    border: 2px solid #68A7BF;
    border-radius: 15px;
    background-color: transparent;
    background-color: #68A7BF;
    font-size: 1.30rem;
    color: #F0F5F6;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* FIN SECCION 1 */

/* SECCION 2 */

.seccion2{
  padding-top: 1%;
}
.seccion2 h2, .seccion2 p {
    text-align: center;
}
.imagenesRecetas {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  flex-wrap: wrap;
}

.imagenesReceta {
  position: relative;
  width: 27%;
}

.imagenesReceta img {
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}

.etiqueta {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #c62828;
  color: white;
  text-align: center;
  padding: 21px 0;
  font-weight: bold;
  font-size: 22px;
  border-radius: 0px 0px 25px 25px;
}
/* FIN SECCION 2 */

/* SECCION 4 */
.seccion4 {
  margin-top: 130px;
  margin-bottom: 130px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color:#B32618;
}
.seccion4 h2{
    text-align: center;
    color: white;
}

.seccion4 h4{
  text-align: center;
  color: white;
  font-size: 22px;
}

.imagenesPaso {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

.imagenPaso img {
  width: 200px;
  height: 200px;
  border-radius: 25px 25px 25px 25px;
}
/* FIN SECCION 4 */

/* SECCION 5 */
.seccion5 {
  background-color:#95C2D3;
  margin-top: 90px;
}
.tituloComentario{
  background-color: #c62828;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;      
  justify-content: center;
  height: 75px;
  border-radius: 0px 0px 25px 25px;
}

.tituloComentario h2{
  color: white;
}

.comentarios {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  gap: 20px;
  padding: 0%;
  flex-wrap: wrap;
  margin-right: 8%;
  padding-bottom: 60px;
}

.comentario {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  max-width: 31%;
  margin: 20px auto;
  overflow: visible;
}

.comentario img {
  width: 200px;           
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transform: translateX(53%); 
}


.contenido-comentario h4 {
  font-size: 20px;
  color: #c62828;
}

.contenido-comentario p {
  font-size: 20px;
  color: #333;
  width: 140%;
}
/* FIN SECCION 5 */

/* SECCION 6 */
.seccion6 {
  position: relative;
  display: flex;
  justify-content: center;
}
.imgFormulario {
  margin-top: 10%;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  width: 75%;
}

.imgFormularioMobile {
  display: none;
}

input {
  width: 58%;
  border: none;
  border-bottom: 2px solid #a02e22;
  background-color: transparent;
  padding: 10px 5px;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
  outline: none;
  font-family: 'MiFuente', sans-serif;
}

.errorFormulario {
  color: #a02e22;
  padding-top: 8px;
}

.botonFormulario {
  background-color: #c62828;
  border: 2px solid #c62828;
  margin-top: 20px;
}

 /* Estilo del popup */
 .modal {
  display:none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 12%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  max-width: 475px;
  margin: auto;
  padding: 1px;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
  border: 12px solid #b32518;
}

.header-content {
  background-color: #B32618;
  max-width: 465px;
  margin: auto;
  padding: 18px;
  border-radius: 25px 25px 0px 0px;
}

.modal-content img {
  padding-bottom: 5px;
}
.modal-content h2 {
  color: black;
  font-weight: bold;
}

.iconoOK {
  height: 100px;
  width: auto;
}

.ok-button {
  background-color: #94bccc;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 30px;
  border-radius: 12px;
  cursor: pointer;
  color: white;
}

.formulario {
  position: absolute;
  z-index: 2;
  top: 11%;
  left: 15%;
  width: 67%;
}

.modal p {
  font-size: 23px;
}

.modal h2 {
  font-size: 40px;
}
/* FIN SECCION 6 */

footer {
  background-color: #B32618;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: -963px;
  position: relative;
  height: 1150px;
  z-index: 0;
}

footer img{
  width: 70px;
  height: 70px;
  padding-left: 10px;
}
footer a {
  text-decoration: none;
}

.redes {
  padding-top: 73%;
  padding-left: 60%;
}



@media (max-width: 480px) {
  
  h2 {
    font-size: 28px;
    text-align: left;
  }

  p {
    font-size: 22px;
  }

  header {
    padding: 10px;
  }

  .logo {
    max-width: 80%;
    height: auto;
  }

  /* Sección 1 */
  .seccion1 {
    position: relative;
    background-color: #bfdcdf;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: auto; 
  }

  .portadaDesktop {
    display: none;
  }
  .portadaMobile {
    display: block;
  }
  /* Imagen en fondo */
  .lado-izquierdo {
    width: 100%;
  }
  .lado-izquierdo img {
    width: 100%;
    height: auto;
  }

.lado-derecho {
  position: absolute;
  z-index: 2;
  background-color: rgba(148, 188, 204, 0.88);
  padding: 17px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  top: 63%;
  left: 50%;
  width: 81%;
  transform: translate(-50%, -50%);
}
.lado-derecho p {
  padding: 0px;
  text-align: left;
}

.botonPortada {
  background-color: #c62828;
  border: 2px solid #c62828;
  position: absolute;
  left: 18%;
  top: 90%;
}

  /* Sección 2 */
  .seccion2 p {
    font-size: 26px;
  }
  .imagenesRecetas {
    flex-direction: column;
    gap: 20px;
    padding: 25px;
  }

  .imagenesReceta {
    width: 100%;
    margin-bottom: 30px;
  }

  .etiqueta {
    font-size: 30px;
  }

  /* Sección 4 */

  .seccion4 {
    margin-top: 38px;
    margin-bottom: 0px;
  }
  .seccion4 h4 {
    font-size: 20px;
  }

  .imagenesPaso {
    flex-direction: row;
    align-items: center;
    padding: 2px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .imagenPaso img {
    width: 150px;
    height: 150px;
  }

  /* Sección 5 */
  .tituloComentario {
    width: 93%;
  }

  .tituloComentario h2 {
    text-align: center;
  }

  .comentarios {
    flex-direction: column;
    margin-right: 0;
    align-items: center;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
  }

  .comentario {
    max-width: 90%;
    border-radius: 30px;
    padding: 0px 28px 12px 18px;
  }

  .comentarioDer{
    margin-right: 45px;
  }

  .comentarioIzq {
    margin-right: 15px;
  }

  .comentario img {
    width: 120px;
    height: 120px;
    transform: translateX(46%);
    margin-top: 18px;
  } 

  .comentarioImagenIzq {
    transform: translateX(-157%) !important;
  }

  .contenido-comentario {
    width: 144px;
    height: 158px;
  }

  .contenido-comentario p {
    width: 100%;
    position: absolute;
    margin-top: -15px;
    font-size: 15px;
  }

  .nombreComentarioIzq {
    padding-left: 82px;
  }
  .mensajeComentarioIzq {
    padding-left: 82px;
  }

  /* Sección 6 */
  .formulario {
    width: 90%;
    top: 27%;
    left: 5%;
  }

  .imgFormularioMobile {
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    display: block;
  }

  .imgFormulario {
    display: none;
  }

  .errorFormulario {
    max-width: 210px;
  }

  input {
    width: 100%;
    font-size: 19px;
  }

  .seccion6 {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .tituloSeccion6 {
    position: absolute;
    bottom: 93%;
    width: 100%;
  }

  /* Modal */

  .modal {
      padding-top: 22%;
  }

  .modal h2 {
    font-size: 28px;
  }

  .header-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal-content {
    width: 309px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .mensajeGracias {
    text-align: center;
  }
  
  .ok-button {
    font-size: 22px;
  }

  .botonFormulario {
    background-color: #c62828;
    border: 2px solid #c62828;
    margin-top: 10px;
    padding: 9px;
    margin-left: -10px;
    font-size: 20px;
}

  /* Footer */
  footer {
    padding-bottom: 9px;
    margin-top: -473px;
    height: 560px;
  }

  .redes {
    padding-top: 35px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 138%;
  }

  footer img {
    width: 50px;
    height: 50px;
  }

  .salto-mobile {
    display: block;
  }
}